<?xml version="1.0" encoding="UTF-8"?>



<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.risingj.echoplugin"
      version="0.1.0">
    <name>EchoPlug</name>


    <description>Echo demo plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/echoplugin.js" name="echoplugin">
        <clobbers target="window.echoplugin" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/echopluginProxy2.js" name="EchoProxy">
            <merges target="" />
        </js-module>

        <!-- Option1: linking Windows Runtime component as project reference -->
       <framework src="WinRTCproj/EchoRuntimeComponent.vcxproj" custom="true" type="projectReference"/>

       <!-- Option2: linking compiled binaries -->
       <!--<framework src="src/windows8/EchoRuntimeComponent.winmd" custom="true"/> -->
    </platform>

</plugin>
